LOG_LEVEL=DEBUG

START_DATE=2024-03-22
END_DATE=2024-03-23

ENV_PATH=.env.global
CONFIG_PATH=./config/pipeline-config.yaml

# =========================
# MONGO DB
# =========================
MONGO_DATABASE=train_ticket_db
MONGO_USERNAME=useradmin
MONGO_PASSWORD=adminpassword
MONGO_HOSTNAME=mongo-db
MONGO_PORT=27017
MONGO_URL=mongodb://useradmin:adminpassword@mongo-db:27017/admin

MONGO_WEB_USERNAME=udin
MONGO_WEB_PASSWORD=icikiwir
MONGO_WEB_AUTH=true

# =========================
# NESSIE
# =========================
NESSIE_HOSTNAME=nessie-rest-catalog
NESSIE_REF=main
NESSIE_URL=http://nessie-rest-catalog:19120/api/v1
NESSIE_PORT=19120

NESSIE_BACKEND_ROOT_PASSWORD=example
NESSIE_BACKEND_DATABASE=nessie
NESSIE_BACKEND_USERNAME=nessie
NESSIE_BACKEND_PASSWORD=nessie
NESSIE_BACKEND_URL=jdbc:postgresql://postgres-backend:5432/nessie

WAREHOUSE=dev
WAREHOUSE_LOCATION_DEV=hdfs://namenode:8020/warehouse_dev
WAREHOUSE_LOCATION_PROD=hdfs://namenode:8020/warehouse


# =========================
# HADOOP
# =========================
CLUSTER_NAME=dimas_cluster
HADOOP_HOSTNAME=namenode
HADOOP_PORT=8020
HADOOP_URL=hdfs://namenode:8020

HADOOP_NAMENODE_DIR=/data/hdfs/namenode
HADOOP_DATANODE_DIR=/data/hdfs/datanode

# =========================
# SPARK
# =========================
SPARK_VERSION=3.2.1
SPARK_MASTER=spark://spark-master:7077
SPARK_MASTER_HOST=spark-master
SPARK_DRIVER_ADDRESS=0.0.0.0

# =========================
# AIRFLOW
# =========================
AIRFLOW_USERNAME=airflow
AIRFLOW_PASSWORD=airflow

AIRFLOW_BACKEND_USERNAME=airflow
AIRFLOW_BACKEND_PASSWORD=airflowpassword
AIRFLOW_BACKEND_DATABASE=airflow

AIRFLOW_PROJ_DIR=./airflow

AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflowpassword@postgres/airflow
AIRFLOW__CELERY__RESULT_BACKEND=db+postgresql://airflow:airflowpassword@postgres/airflow

ADDITIONAL_REQUIREMENTS=requests

AIRFLOW__API_AUTH__JWT_SECRET="ymmoZGzDW24wwkHyWpQ2fg=="
